@page "/counter"
@using BlazorPageScript

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<div id="counterApp" v-cloak>
    <p role="status">Current count: {{ currentCount }}</p>
    <p role="status">Plus one: {{ plusOne }}</p>
    <button class="btn btn-primary" @click="incrementCount">Click me</button>
</div>

<PageScript Src="./Components/Pages/Counter.razor.js" />