@page "/counter"
@using BlazorPageScript

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<div id="counterApp" v-cloak>
    <p role="status">Current count: {{ currentCount }}</p>
    <p role="status">Plus one: {{ plusOne }}</p>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @click="incrementCount">Click me</MudButton>
</div>

<PageScript Src="./Components/Pages/Counter.razor.js" />