@page "/"
@page "/login"
@layout Layout.LoginLayout

@using BlazorNet8CleanArch.Infrastructure.Authentication
@using Microsoft.AspNetCore.Components.Authorization

@inject HttpClient HttpClient
@inject NavigationManager NavManager
@inject ISnackbar snackBar

@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Gablazor App - Login</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Sign In</MudText>

<MudText>Don't have an account? <MudLink Href="/register">Sign Up</MudLink></MudText>

<MudTextField T="string" @bind-Value="@Username" Label="E-mail" Variant="Variant.Outlined" Class="my-6"></MudTextField>

<MudPasswordField @bind-Value="@Password" Label="Password" PasswordMode="true" Variant="Variant.Outlined" IconSize="Size.Medium" />

<div Class="d-flex justify-space-between align-center">
    <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
    <MudLink Href="#">Forgot password?</MudLink>
</div>

<MudLoadingButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" LoadingAdornment="Adornment.Start" @bind-Loading="isSubmitting" OnClick="LoginClicked">Sign In</MudLoadingButton>

@code {

    public record LoginResponse(string Username = null!, string Token = null!);
    public record LoginDTO(string Username, string Password);

    string Username = "admin";
    string Password = "admin123";
    bool isSubmitting = false;

    async Task LoginClicked()
    {
        isSubmitting = true;
        var response = await HttpClient.PostAsJsonAsync($"/TOKEN?username={Username}&password={Password}", new LoginDTO(Username, Password));
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadFromJsonAsync<LoginResponse>();
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            customAuthStateProvider.UpdateAuthenticationState(result!.Token);
            NavManager.NavigateTo("/home");
        }
        else
        {
            snackBar.Add("Invalid login.", Severity.Error);
            isSubmitting = false;
        }
        
    }

}