@inherits LayoutComponentBase

<MyMudThemeProvider />
<MyMudProviders />

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudAppBar Color="Color.Primary" Fixed="false">
            <MudText Typo="Typo.h5" Class="ml-n2">Gablazor</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Inherit" Class="mr-n4" />
        </MudAppBar>
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="600px">
            <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Large" Style="width:100px; height:100px;" />
            @Body
        </MudPaper>       
    </div>
</MudContainer>