@page "/vue"
@using BlazorPageScript

<PageTitle>Vue</PageTitle>


           <button class="btn btn-primary" @click="helloVue">Say Hello!</button>

<PageScript Src="./Components/Pages/Vue.razor.js" />

